<% include ../partial/header %>
<div class="container">
    
<header class="jumbotron" >
    <div class="container">
    <h1><Welcome to yelpcamp></h1>
    <p>Welcome to Shopping app</p>
    <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new Product</a>
    </p>
        <p>
            <form action="/campgrounds" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name = "search" placeholder="Search" class="form-control"> 
                    <input type="submit" value="search" class="btn btn-default">
                </div>
            </form>
        </p>
    </div>

</header>
    
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% campgrounds.forEach(function(campground){  %>
<li>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>" >
            <div class="caption">
                <h4> <%= campground.name %></h4>
            </div>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
        </div>
         
        
    </div>
   
</li>
<% });  %>
</div>
</div> 
<% include ../partial/footer %>  