body{
    background-color: #000;
}
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }
  #landing-header h1 {
    color: #fff;
  }
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }
  .slideshow li:nth-child(1) { 
    background-image: url(https://pixabay.com/get/52e4d540495ab108f5d084609620367d1c3ed9e04e50744f77267bd7904fc2_340.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://pixabay.com/get/5ee9d14a4b5bb108f5d084609620367d1c3ed9e04e50744f77267bd7904fc2_340.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://pixabay.com/get/57e8d2404a55a414f6da8c7dda793f7f1636dfe2564c704c732d72d4944ac75f_340.jpg://i.imgur.com/emvhOnb.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(http://i.https://pixabay.com/get/57e9dd474355ab14f6da8c7dda793f7f1636dfe2564c704c732d72d49445c058_340.jpg.com/2LSMCmJ.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://pixabay.com/get/57e8d2404a55a414f6da8c7dda793f7f1636dfe2564c704c732d72d4944ac75f_340.jpg://i.imgur.com/emvhOnb.jpg);
    animation-delay: 40s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}